.nft-inform {
  background: radial-gradient(
    circle at 50%,
    rgb(20, 20, 40),
    rgb(20, 20, 40) 75%,
    rgb(199, 199, 199) 78%,
    rgb(20, 20, 40) 90%
  );
  color: rgb(255, 255, 255);
  line-height: 30px;
  padding: 20px;
  display: inline-block;
  min-width: 25%;
  margin-top: 2%;
  border-radius: 18px;
  margin-bottom: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.nft-div {
  background-color: white;
  padding: 20px;
  display: inline-block;
  min-width: 25%;
  min-height: 90px;
  vertical-align: middle;
  margin: 2% auto;
  border-radius: 18px;
  margin-bottom: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.nft-div-img {
  background-color: white;
  padding: 15px;
  display: inline-block;
  /* min-width: 25%; */
  margin: auto;
  border-radius: 0;
  margin-bottom: 20px;
  /* box-shadow: 0px 0px 100px rgb(255, 208, 0); */
  animation: imageColorRotate 2s linear 0s infinite;
}

@keyframes imageColorRotate {
  from {
    box-shadow: 0px 0px 200px white;
  }
  50% {
    box-shadow: 0px 0px 200px rgba(255, 255, 255, 0.5);
  }
  to {
    box-shadow: 0px 0px 200px white;
  }
}

.nft-div-img-in {
  background-color: white;
  padding: 15px;
  display: inline-block;
  /* min-width: 25%; */
  margin: auto;
  border-radius: 0;
  margin-bottom: 20px;
  /* box-shadow: 0px 0px 100px rgb(255, 208, 0); */
  animation: imageColorRotate 2s linear 0s infinite;
}

.nft-div-img-in:hover {
  animation: selectImageColorRotate 2s linear 0s infinite;
}

.nft-div-img-select {
  background-color: white;
  padding: 15px;
  display: inline-block;
  /* min-width: 25%; */
  margin: auto;
  border-radius: 0;
  margin-bottom: 20px;
  /* box-shadow: 0px 0px 100px rgb(255, 208, 0); */
  animation: selectImageColorRotate 2s linear 0s infinite;
}

@keyframes selectImageColorRotate {
  from {
    box-shadow: 0px 0px 200px rgb(123, 182, 97);
  }
  50% {
    box-shadow: 0px 0px 200px rgba(123, 182, 97, 0.5);
  }
  to {
    box-shadow: 0px 0px 200px rgb(123, 182, 97);
  }
}

.nft-input {
  border: none;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  min-width: 95%;
}

.nft-button-con {
  /* width: 100%; */
  background: rgb(123, 182, 97);
  text-decoration: none;
  width: 100%;
  height: 50px;
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 18px;
  margin-top: 10px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.nft-button-con:hover {
  color: rgb(150, 90, 62);
  background: rgb(255, 237, 121);
  cursor: pointer;
}

.nft-img {
  max-width: 700px;
  max-height: 400px;
}

.nft-name {
  padding: 10px;
  font-size: 30px;
  text-shadow: -0px -4px 5px rgba(0, 0, 0, 0.2);
}

.nft-des {
  opacity: 80%;
  padding: 5px;
  font-size: 20px;
  display: inline-block;
  max-width: 30%;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.nft-owner {
  opacity: 50%;
  padding-bottom: 4%;
  padding-top: 1%;
  font-size: 15px;
  /* text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4); */
}

.nft-alert {
  color: red;
  /* font-size: 20px; */
}

/* .nft-inventory {
	display: inline-block;
} */

.nft-table {
  margin: auto;
  border-collapse: collapse;
  max-width: 60%;
}

.nft-inventory-0 {
  position: relative;
  transform: scale(0.6);
}

.nft-inventory-1 {
  position: relative;
  z-index: 5;
}

.nft-inventory-2 {
  position: relative;
  transform: scale(0.6);
}

.nft-inventory-button-right {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 40px;
  padding: 4px 20px 4px 20px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  /* position: fixed; */
  right: 0;
}
.nft-inventory-button-left {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 40px;
  padding: 4px 20px 4px 20px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  /* position: fixed; */
  left: 0;
}

.nft-inventory-button-right:hover {
  opacity: 50%;
  cursor: pointer;
}

.nft-inventory-button-left:hover {
  opacity: 50%;
  cursor: pointer;
}
