.search-input{
  border: none;
	background-color: rgb(240, 240, 240);
	padding: 10px;
	border-radius: 5px;
	width: 100%;
}

.search-popup {
	max-height: 360px;
	/* overflow-x: hidden; */
	/* position: absolute; */
}

.search-table{
	position: absolute;
	text-align: left;
	margin: 2px auto;
	color: black;
	background-color: white;
	line-height: 1.5;
	border-radius: 5px;
	min-width: 25%;
	border-collapse: collapse;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-table-td{
	padding: 10px;
	font-size: 10px;
}

.search-table-td:first-child{
	width: 50px;
}

.search-user-tr:hover {
	background-color: rgba(0, 0, 0, 0.05);
	cursor: pointer;
}