.vote-popup-button-con{
	/* width: 100%; */
	border: none;
	background: rgb(123, 182, 97);
	text-decoration: none;
	padding: 4px 20px 4px 20px;
	color: white;
	font-size: 20px;
	border-radius: 18px;
	margin-top: 10px;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.vote-popup-button-con:hover {
	color: rgb(150, 90, 62);
	background: rgb(255, 237, 121);
	cursor: pointer;
}

.vote-popup-button-dis{
	/* width: 100%; */
	border: none;
	background: rgba(123, 182, 97, 0.5);
	text-decoration: none;
	padding: 4px 20px 4px 20px;
	color: white;
	font-size: 20px;
	border-radius: 18px;
	margin-top: 10px;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.vote-popup-button-can{
	/* width: 100%; */
	border: none;
	background: rgb(165, 165, 165);
	text-decoration: none;
	/* margin: 50px 0 100px 0; */
	color: white;
	font-size: 20px;
	border-radius: 18px;
	padding: 4px 20px 4px 20px;
	margin-top: 10px;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
}

.vote-popup-button-can:hover {
	color: rgb(0, 0, 0);
	background: rgb(207, 207, 207);
	cursor: pointer;
}

.vote-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.vote-popup-div {
	background-color: white;
  position: absolute;
	padding: 20px;
	min-width: 16%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	/* margin: auto; */
	border-radius: 18px;
	margin-bottom: 20px;
}

.vote-popup-div-account {
	background-color: rgb(13,17,23);
	margin-bottom: 20px;
	border-radius: 18px;
	color: white;
	padding: 30px 30px 20px 30px;
	min-width: max-content;
	display: inline-block;
	box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.6);
}

.vote-popup-input {
  border: none;
	background-color: rgb(240, 240, 240);
	padding: 10px;
	border-radius: 5px;
	width: 60%;
  margin: 10px 10px 20px;
}